<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <style>
    ul {
      display: flex;
      gap: 20px;
      list-style: none;
    }
  </style>

  <nav>
    <ul>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li>
        <a href="{% url 'logout' %}">Logout</a>
      </li>
      <li>
        <a href="{% url 'expenses_list' %}">Expense List</a>
      </li>
      <li>
        <a href="{% url 'create_receipt' %}">Create Expense</a>
      </li>
      <li>
        <a href="{% url 'accounts_list' %}">Accounts</a>
      </li>
      <li>
        <a href="{% url 'create_category' %}">Create Category</a>
      </li>
      <li>
        <a href="{% url 'create_account' %}">Create Account</a>
      </li>
      {% elif not user.is_authenticated %}
      <li>
        <a href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  {% block content %}

  {% endblock content %}

</body>

</html>